* {
   margin: 0;
}

body {
   background: #3c5377;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-control::placeholder {
   color: #eee;
}

.form-contro:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: #eee;
}

.form-control::-ms-input-placeholder {
   /* Microsoft Edge */
   color: #eee;
}

h1,
h3,
li {
   font-style: 'Montserrat', Sans-serif;
   color: #eee;
}

h1.banner {
   font-size: 3.5em;
   font-weight: 700;
}

h1#weather-type {
   font-size: 2em;
   font-weight: 500;
}

h3 {
   font-style: 'Montserrat', Sans-serif;
   font-size: 2.5em;
   font-weight: 700;
}

/* Background picture */

.hero-img-containor {
   z-index: -1;
   height: 100%;
   width: 100%;
   margin: 3rem auto 1rem auto;
   /* padding: 80px 100px 80px 100px; */
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 5%, black 110%),
      url('./assets/beach-unsplash.jpg');
   background-blend-mode: darken;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 80%;
   box-shadow: 0.2em 0.2em 0.8em 0.2em rgba(0, 0, 0, 0.3);
   border-radius: 20px;
}

.app {
   display: grid;
   height: 100%;

   padding: 100px 130px 100px 130px;
   max-width: 600px;

   border-radius: 20px;
}

#city-input,
.card {
   background: transparent;
}

/* Toggle Switch */

.switch {
   width: 36px;
   height: 36px;
}

@media (max-width: 768px) {
   .hero-img-containor {
      height: 100vh;
      width: 100%;
      margin: 0;
      min-height: 100vh;
   }
   .app {
      width: 100%;
      height: 100%;
   }
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: transparent;
   border: 1px solid rgba(33, 150, 243, 0.3);
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: '';
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: rgb(43, 91, 146);
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}
input {
   border: 1rem solid #2196f3;
}

input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

.toggle p {
   color: white;
   font-style: 'Montserrat', Sans-serif;
}
